html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.navigation {
  z-index: 4;
  top: 0;
  position: fixed;
  font-size: 16px;
  background-color: #010007;
  top: 0;
  width: 100%;
}
.navigation__item {
  color: #ffffff;
  float: left;
  margin-left: 10%;
}
.navigation__item--logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigation__item--text {
  float: left;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation__item--text::after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  left: 0;
  display: block;
  height: 2px;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navigation__item--text:hover:after {
  width: 100%;
}
.navigation__item--text:nth-child(5)::after {
  display: none;
}
.navigation__item--link {
  text-decoration: none;
  color: #ffffff;
}
.navigation__item--link:hover {
  color: #ffffff;
  text-decoration: none;
}
.navigation__item:nth-child(2) {
  float: right;
}
@media (max-width: 1920px) {
  .navigation__item {
    margin-left: 15%;
  }
}
@media (max-width: 1360px) {
  .navigation__item {
    margin-left: 10%;
  }
  .navigation__item--logo {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .navigation__item--text {
    float: left;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
  }
  .navigation__item--text:nth-child(5) {
    padding-bottom: 20px;
  }
}

.dropdown__button {
  position: relative;
  display: inline-block;
}
.dropdown__button .dropdown__content {
  left: 0;
  top: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
  background-color: #08003a;
  float: none;
  width: 100%;
}
.dropdown__button .dropdown__content .dropdown__link {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
.dropdown__button .dropdown__content .dropdown__link:hover {
  background-color: black;
  transition: 0.5s;
}
.dropdown__button .dropdown__content .dropdown__link a {
  color: #ffffff;
  text-decoration: none;
}
.dropdown__button .dropdown__content .dropdown__link a:hover {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 320px) {
  .dropdown__button .dropdown__content {
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 10px;
    display: none;
    text-align: start;
    background-color: #08003a;
  }
  .dropdown__button .dropdown__content .dropdown__link {
    display: inline-block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 1360px) {
  .dropdown__button .dropdown__content {
    display: none;
    text-align: center;
  }
  .dropdown__button:hover .dropdown__content {
    position: absolute;
    display: block;
    margin-top: 0;
  }
}

.dropdown__menu {
  display: block;
}
.dropdown__menu .dropdown__menu__button {
  display: none;
  float: right;
  color: #ffffff;
  background-color: transparent;
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown__menu .dropdown__menu__content {
  display: none;
}
@media (max-width: 1920px) {
  .dropdown__menu .dropdown__menu__content {
    display: block;
  }
}
@media (max-width: 1360px) {
  .dropdown__menu .navigation__item--text {
    width: 100%;
  }
  .dropdown__menu .dropdown__menu__content {
    display: none;
  }
  .dropdown__menu .dropdown__menu__button {
    display: block;
  }
}

body {
  background-image: url(../images/first_bg.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 1360px) {
  body {
    background-size: cover;
  }
}

.first__container {
  height: 100vh;
}
.first__container--content {
  width: 75vw;
  margin: auto;
  position: relative;
}
.first__background {
  overflow: hidden;
  position: absolute;
  width: 400px;
  top: 36%;
  color: #ffffff;
  font-weight: bold;
}
.first__background .renos5 {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.first__background .renos5 img {
  padding: 0;
  width: 200%;
  margin-left: -150px;
  z-index: 1;
}
.first__background .renos5:nth-child(2) {
  animation-direction: reverse;
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40%, 0);
  }
}
.first__phone {
  float: left;
  position: relative;
  width: 40%;
  padding-top: 100px;
  margin-right: 5px;
}
.first__phone .img__phone {
  position: relative;
  width: 90%;
  z-index: 2;
}
.first__text {
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
}
.first__text--title {
  font-size: 48.47px;
}
.first__text--body {
  font-size: 78.77px;
}
.first__text--foot {
  float: left;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 200px;
  padding-top: 50px;
}
.first__text .khoangKhac {
  padding-top: 60px;
  background-image: url(../images/khoangKhac_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.first__text .cuocSong {
  padding-bottom: 60px;
  background-image: url(../images/cuocSong_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 1920px) {
  .first__container--content {
    width: 60vw;
  }
  .first__background {
    width: 100%;
    top: 50%;
  }
  .first__background .renos5 img {
    width: 100%;
    margin-left: -200px;
  }
  .first__phone {
    padding-top: 200px;
    width: 30%;
  }
  .first__text {
    padding-top: 300px;
  }
}
@media (max-width: 1448px) {
  .first__container--content {
    width: 75vw;
    margin: auto;
    padding-bottom: 55px;
  }
  .first__background {
    width: 300px;
    top: 36%;
  }
  .first__background .renos5 img {
    width: 200%;
    margin-left: -150px;
  }
  .first__phone {
    padding-top: 100px;
    width: 33%;
  }
  .first__text {
    padding-top: 200px;
  }
}
@media (max-width: 1127px) {
  .first__container--content {
    width: 50vw;
    margin: auto;
  }
  .first__background {
    width: 40%;
    top: 35%;
  }
  .first__background .renos5 img {
    width: 200%;
    margin-left: -100px;
  }
  .first__phone {
    width: 100vw;
    padding-top: 65px;
  }
  .first__phone .img__phone {
    width: 30vw;
  }
  .first__text {
    padding-top: 0;
    width: 50vw;
    text-align: center;
  }
  .first__text--title {
    font-size: 18.47px;
  }
  .first__text--body {
    font-size: 18.77px;
  }
  .first__text--foot {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 10px;
  }
  .first__text .khoangKhac {
    padding-top: 0;
    background-image: none;
  }
  .first__text .cuocSong {
    padding-bottom: 0;
    background-image: none;
  }
}

.second__container {
  margin: auto;
  text-align: center;
}
.second__title {
  width: 100%;
  margin: auto;
}
.second__title--main {
  margin-bottom: 2%;
  width: 1005;
}
.second__title--main img {
  width: 80%;
}
.second__title--sub {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media (max-width: 1120px) {
  .second__title img {
    width: 80vw;
  }
}
.second__note {
  font-size: 14px;
  text-align: center;
  color: #2b3c5e;
  margin-top: 30px;
  margin-bottom: 30px;
}
.second__stories {
  margin: auto;
  width: 90%;
}
.second__story {
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.second__story--title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.second__story--img {
  overflow: hidden;
}
.second__story--img img {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s;
}
.second__story--img:hover img {
  filter: grayscale(100%);
}

.swiper-container {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
}

.second__stories--des .des__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-self: center;
  position: relative;
  width: 80vw;
  margin: auto;
}
.second__stories--des .des__img {
  overflow: hidden;
  position: relative;
  width: 45%;
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}
.second__stories--des .des__img img {
  object-fit: cover;
  width: 100%;
}
.second__stories--des .des__bg {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.second__stories--des .des__bg img {
  object-fit: contain;
  width: 100%;
}
.second__stories--des .des__text {
  position: relative;
  color: #173855;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.second__stories--des .des__text h3 {
  text-transform: uppercase;
}
.second__stories--des .des__body {
  font-size: 11.57px;
}
.second__stories--des .des__title {
  font-size: 25px;
}
@media (max-width: 1120px) {
  .second__stories--des .des__content {
    background-size: cover;
    background-repeat: repeat;
  }
  .second__stories--des .des__img {
    display: block;
  }
  .second__stories--des .des__text {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .second__stories--des .des__content {
    background-size: cover;
    background-repeat: repeat;
  }
  .second__stories--des .des__img {
    display: none;
  }
  .second__stories--des .des__text {
    width: 100%;
  }
  .second__stories--des .des__title {
    margin-bottom: 2%;
  }
}
@media (min-width: 576px) {
  .second__stories--des .modal-dialog {
    max-width: 100%;
  }
}

.news__slide {
  margin: auto;
}

.third__container {
  margin: auto;
  width: 100%;
}
.third__item {
  text-align: jusify;
  width: 28%;
  text-align: start;
}
.third__item--thumbnail {
  overflow: hidden;
  width: 100%;
  height: 30vh;
}
.third__item--thumbnail img {
  object-fit: contain;
  width: 100%;
  transition: all 0.5s;
}
.third__item--thumbnail:hover img {
  transform: scale(1.2);
}
.third__item--title {
  margin-top: 2%;
  margin-bottom: 2%;
}
.third__item--title a {
  color: #010007;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.5s;
}
.third__item--title:hover a {
  color: #344165;
  text-decoration: none;
}
.third__item--body {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-top: 2%;
  margin-bottom: 2%;
}
.third__item--body p {
  font-size: 14px;
}
@media (max-width: 1000px) {
  .third__item--thumbnail {
    height: 20vh;
  }
}

.fourth__container {
  margin: auto;
  width: 90%;
}
.fourth__news {
  border: solid;
}
.fourth__news--thumbnail {
  float: left;
  border: solid;
  width: 249px;
  height: 249px;
  overflow: hidden;
}
.fourth__news--thumbnail img {
  width: 100%;
  transition: all 0.5s;
}
.fourth__news--thumbnail:hover img {
  transform: scale(1.2);
}
.fourth__news--text {
  border: solid;
  float: left;
  width: 70%;
  overflow: hidden;
  margin-top: 50px;
}
.fourth__news--title {
  margin-top: 2%;
  margin-bottom: 2%;
}
.fourth__news--title a {
  color: #010007;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}
.fourth__news--title:hover a {
  color: #344165;
  text-decoration: none;
}
.fourth__news--body {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.fourth__news--body p {
  font-size: 14px;
}

.container__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn_me {
  padding: 10px;
  border-radius: 10%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.btn_me--facebook {
  background-color: #0a5ab7;
  color: #ffffff;
}
.btn_me--facebook:hover {
  color: #ffffff;
  background-color: #094e9f;
  text-decoration: none;
}
.btn_me--close {
  background-color: transparent;
  color: #ffffff;
}

/*# sourceMappingURL=styee.css.map */
