html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.nav {
  z-index: 1000;
  top: 0;
  position: fixed;
  font-size: 16px;
  background-color: #010007;
  top: 0;
  width: 100%;
}
.nav__item {
  color: #ffffff;
  float: left;
  margin-left: 10%;
}
.nav__item--logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav__item--text {
  float: left;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.nav__item--text::after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  left: 0;
  display: block;
  height: 2px;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__item--text:hover:after {
  width: 100%;
}
.nav__item--text:nth-child(5)::after {
  display: none;
}
.nav__item--link {
  text-decoration: none;
  color: #ffffff;
}
.nav__item--link:hover {
  color: #ffffff;
  text-decoration: none;
}
.nav__item:nth-child(2) {
  float: right;
}
@media (max-width: 1920px) {
  .nav__item {
    margin-left: 15%;
  }
}
@media (max-width: 1360px) {
  .nav__item {
    margin-left: 10%;
  }
  .nav__item--logo {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .nav__item--text {
    float: left;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
  }
  .nav__item--text:nth-child(5) {
    padding-bottom: 20px;
  }
  .nav__item:nth-child(1) {
    width: 50%;
  }
}

.dropdown__button {
  position: relative;
  display: inline-block;
}
.dropdown__button .dropdown__content {
  left: 0;
  top: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
  background-color: #010007;
  float: none;
  width: 100%;
}
.dropdown__button .dropdown__content .dropdown__link {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
.dropdown__button .dropdown__content .dropdown__link:hover {
  background-color: #08003a;
  transition: 0.5s;
}
.dropdown__button .dropdown__content .dropdown__link a {
  color: #ffffff;
  text-decoration: none;
}
.dropdown__button .dropdown__content .dropdown__link a:hover {
  color: #ffffff;
  text-decoration: none;
}
.dropdown__button .dropdown__content.open {
  display: block;
}
@media (min-width: 320px) {
  .dropdown__button .dropdown__content {
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 10px;
    display: none;
    text-align: start;
    background-color: #010007;
  }
  .dropdown__button .dropdown__content .dropdown__link {
    display: inline-block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-decoration: none;
    color: #ffffff;
  }
}
@media (min-width: 1360px) {
  .dropdown__button .dropdown__content {
    display: none;
    text-align: center;
  }
  .dropdown__button:hover .dropdown__content {
    position: absolute;
    display: block;
    margin-top: 0;
  }
}

.dropdown__menu {
  display: block;
}
.dropdown__menu .dropdown__menu__button {
  display: none;
  float: right;
  color: #ffffff;
  background-color: transparent;
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown__menu .dropdown__menu__content {
  display: none;
}
@media (max-width: 1920px) {
  .dropdown__menu .dropdown__menu__content {
    display: block;
  }
}
@media (max-width: 1360px) {
  .dropdown__menu .nav__item--text {
    width: 100%;
  }
  .dropdown__menu .dropdown__menu__content {
    display: none;
  }
  .dropdown__menu .dropdown__menu__button {
    display: block;
  }
}

body {
  width: 100%;
  background-image: url(../images/first_bg.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 1199px) {
  body {
    background-image: url(../images/bg_small.png);
    background-size: 100% 100vh;
  }
}

.first__container {
  height: 100vh;
}
.first__container--content {
  width: 75vw;
  margin: auto;
}
.first__background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 250px;
  color: #ffffff;
  margin-bottom: 50px;
}
.first__background .renos5 {
  height: 100px;
  bottom: 0;
  width: 100%;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.first__background .renos5 img {
  position: relative;
  width: 100%;
  margin-left: -150px;
  z-index: 1;
  transform: scale(2.5);
  padding-top: 20px;
}
.first__background .renos5:nth-child(2) {
  animation-direction: reverse;
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40%, 0);
  }
}
.first__phone {
  float: left;
  position: relative;
  width: 40%;
  margin-top: 100px;
  margin-right: 5px;
  height: auto;
}
.first__phone .img__phone {
  position: relative;
  width: 90%;
  z-index: 2;
}
.first__text {
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
}
.first__text--title {
  font-size: 48.47px;
}
.first__text--body {
  font-size: 78.77px;
}
.first__text--foot {
  float: left;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
}
.first__text .khoangKhac {
  padding-top: 60px;
  background-image: url(../images/khoangKhac_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.first__text .cuocSong {
  padding-bottom: 60px;
  background-image: url(../images/cuocSong_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 1920px) {
  .first__container--content {
    width: 60vw;
  }
  .first__background {
    width: 95%;
    top: 8vh;
    height: auto;
  }
  .first__background .renos5 img {
    width: 100%;
    margin-left: -200px;
    transform: scale(2.5);
  }
  .first__phone {
    margin-top: 200px;
    width: 30%;
  }
  .first__text {
    padding-top: 300px;
  }
}
@media (max-width: 1448px) {
  .first__container--content {
    width: 75vw;
    margin: auto;
    padding-bottom: 0;
  }
  .first__background {
    width: 300px;
    top: 10vh;
  }
  .first__background .renos5 {
    height: 90px;
  }
  .first__background .renos5 img {
    width: 200%;
    margin-left: -150px;
    transform: scale(1.2);
  }
  .first__phone {
    margin-top: 100px;
    width: 33%;
  }
  .first__text {
    padding-top: 200px;
  }
}
@media (max-width: 1199px) {
  .first__container--content {
    width: 50vw;
    margin: auto;
  }
  .first__background {
    width: 60%;
    height: auto;
    top: 5vh;
  }
  .first__background .renos5 {
    display: block;
    height: auto;
    margin: 20px;
  }
  .first__background .renos5 img {
    display: block;
    width: 200%;
    margin-left: -100px;
    transform: scale(1.5);
  }
  .first__phone {
    width: 50vw;
    margin-top: 20vh;
    padding-left: 100px;
  }
  .first__phone .img__phone {
    margin: auto;
    width: 70%;
  }
  .first__text {
    padding-top: 0;
    width: 50vw;
    text-align: center;
  }
  .first__text--title {
    font-size: 38.47px;
  }
  .first__text--body {
    font-size: 28.77px;
  }
  .first__text--foot {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }
  .first__text .khoangKhac {
    padding-top: 0;
    background-image: none;
  }
  .first__text .cuocSong {
    padding-bottom: 0;
    background-image: none;
  }
}
@media (max-width: 829px) {
  .first__container--content {
    width: 80vw;
    margin: auto;
  }
  .first__background {
    width: 80%;
    height: auto;
    top: 3vh;
  }
  .first__background .renos5 {
    display: block;
    height: auto;
    margin: 20px;
  }
  .first__background .renos5 img {
    padding: 0;
    display: block;
    width: 200%;
    margin-left: -100px;
    transform: scale(1.5);
  }
  .first__phone {
    width: 100%;
    margin-top: 20vh;
    padding-left: 10%;
  }
  .first__phone .img__phone {
    width: 70%;
  }
  .first__text {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .first__text--title {
    font-size: 28.47px;
  }
  .first__text--body {
    font-size: 18.77px;
  }
  .first__text--foot {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 10px;
  }
  .first__text .khoangKhac {
    padding-top: 0;
    background-image: none;
  }
  .first__text .cuocSong {
    padding-bottom: 0;
    background-image: none;
  }
}

.second__container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.second__title {
  width: 100%;
  margin: auto;
}
.second__title--main {
  margin-bottom: 2%;
  width: 1005;
}
.second__title--main img {
  width: 80%;
}
.second__title--sub {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #173855;
}
@media (max-width: 1120px) {
  .second__title img {
    width: 80vw;
  }
}
.second__note {
  font-size: 14px;
  text-align: center;
  color: #2b3c5e;
  margin-top: 30px;
  margin-bottom: 30px;
}
.second__stories {
  margin: auto;
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
}
.second__story {
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}
.second__story--title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}
.second__story--img {
  overflow: hidden;
}
.second__story--img img {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s;
}
.second__story--img:hover img {
  filter: grayscale(100%);
}

.swiper-pagination-bullet {
  display: none;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  border: 1px solid #ffffff !important;
  background-color: transparent !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
@media (max-width: 890px) {
  .swiper-pagination-bullet {
    display: block;
  }
}

.swiper-container {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.second__stories--des .des__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-self: center;
  position: relative;
  width: 80vw;
  margin: auto;
}
.second__stories--des .des__img {
  overflow: hidden;
  position: relative;
  width: 45%;
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}
.second__stories--des .des__img img {
  object-fit: cover;
  width: 100%;
}
.second__stories--des .des__bg {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.second__stories--des .des__bg img {
  object-fit: contain;
  width: 100%;
}
.second__stories--des .des__text {
  position: relative;
  color: #173855;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.second__stories--des .des__text h3 {
  text-transform: uppercase;
}
.second__stories--des .des__body {
  font-size: 11.57px;
}
.second__stories--des .des__title {
  font-size: 25px;
}
@media (max-width: 1120px) {
  .second__stories--des .des__content {
    background-size: cover;
    background-repeat: repeat;
  }
  .second__stories--des .des__img {
    display: block;
  }
  .second__stories--des .des__text {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .second__stories--des .des__content {
    background-size: cover;
    background-repeat: repeat;
  }
  .second__stories--des .des__img {
    display: none;
  }
  .second__stories--des .des__text {
    width: 100%;
  }
  .second__stories--des .des__title {
    margin-bottom: 2%;
  }
}
@media (min-width: 576px) {
  .second__stories--des .modal-dialog {
    max-width: 100%;
  }
}

.news__slide {
  margin: auto;
}

.third__container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
}
.third__content {
  margin: auto;
  width: 60%;
  padding-left: 15px;
  padding-right: 15px;
}
.third__bg {
  top: 10%;
  position: absolute;
}
.third__bg img {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.third__bg--sm {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.third__bg--sm img {
  width: 10%;
}
.third__title {
  width: 30%;
}
.third__title img {
  width: 100%;
}
.third__item {
  text-align: start;
  z-index: 3;
  overflow: hidden;
  margin-bottom: 5%;
}
.third__item--thumbnail {
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-bottom: 10px;
  padding-bottom: 55%;
}
.third__item--thumbnail img {
  object-fit: contain;
  width: 100%;
  transition: all 0.2s;
}
.third__item--thumbnail:hover img {
  transform: scale(1.2);
}
.third__item--title {
  margin-bottom: 10px;
}
.third__item--title a {
  color: #010007;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.5s;
}
.third__item--title:hover a {
  color: #344165;
  text-decoration: none;
}
.third__item--body {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  margin-bottom: 10px;
}
.third__item--body p {
  font-size: 14px;
}
@media (max-width: 890px) {
  .third__content {
    width: 95%;
    margin: auto;
  }
  .third__bg {
    top: 7%;
    position: absolute;
  }
  .third__bg img {
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  .third__bg--sm {
    display: none;
  }
  .third__title {
    width: 60%;
  }
  .third__title img {
    width: 100%;
  }
}

.fourth__container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
}
.fourth__content {
  margin: auto;
  width: 60%;
}
.fourth__button {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}
.fourth__renos--1 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 10%;
}
.fourth__renos--1 img {
  width: 100%;
}
.fourth__renos--2 {
  position: absolute;
  top: 60%;
  right: 0;
  width: 10%;
}
.fourth__renos--2 img {
  width: 100%;
}
.fourth__news {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}
.fourth__news--thumbnail {
  float: left;
  width: 35%;
  display: block;
  margin-right: 10px;
  overflow: hidden;
}
.fourth__news--thumbnail img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}
.fourth__news--thumbnail:hover img {
  transform: scale(1.2);
}
.fourth__news--text {
  float: left;
  width: 60%;
  height: 0;
  padding-bottom: 18%;
  text-align: justify;
  line-height: 1.5;
}
.fourth__news--title {
  margin-bottom: 10px;
}
.fourth__news--title a {
  color: #010007;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}
.fourth__news--title:hover a {
  color: #344165;
  text-decoration: none;
}
.fourth__news--body {
  width: 100%;
  margin-top: 10px;
}
.fourth__news--body p {
  font-size: 14px;
}
@media (max-width: 1330px) {
  .fourth__content {
    margin: auto;
    width: 80%;
  }
  .fourth__renos--1 {
    display: none;
  }
  .fourth__renos--2 {
    display: none;
  }
}
@media (max-width: 890px) {
  .fourth__content {
    margin: auto;
    width: 95%;
  }
  .fourth__renos--1 {
    display: none;
  }
  .fourth__renos--2 {
    display: none;
  }
  .fourth__news--thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
  }
  .fourth__news--text {
    width: 100%;
    height: auto;
  }
}

.fifth__container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  height: auto;
  margin-bottom: 100px;
  overflow: hidden;
}
.fifth__content {
  width: 60%;
  height: auto;
  margin: auto;
  position: relative;
}
.fifth__icon {
  text-align: center;
  display: none;
  position: absolute;
  color: #ffffff;
  padding-top: 25%;
  width: 100%;
  height: inherit;
  z-index: 3;
  font-size: 100px;
}
.fifth__icon--mute {
  text-align: end;
  position: absolute;
  color: #ffffff;
  bottom: 5%;
  right: 5%;
  width: auto;
  height: inherit;
  z-index: 7;
  font-size: 25px;
}
.fifth__overlay {
  position: absolute;
  z-index: 2;
  padding-top: 25%;
  padding-bottom: 35%;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  height: inherit;
}
.fifth__video {
  width: 100%;
  height: auto;
  margin: auto;
}
.fifth__bg1 {
  width: 20%;
  right: 0%;
  position: absolute;
}
.fifth__bg1 img {
  width: 100%;
}
.fifth__bg2 {
  width: 20%;
  left: 0%;
  position: absolute;
}
.fifth__bg2 img {
  width: 100%;
}
@media (max-width: 1090px) {
  .fifth__content {
    width: 90%;
  }
  .fifth__bg1 {
    display: none;
  }
  .fifth__bg2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .fifth__icon {
    padding-top: 20%;
    font-size: 40px;
  }
  .fifth__icon--mute {
    font-size: 20px;
  }
}

.footer {
  background-color: #2c2c2c;
  color: #ffffff;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__content {
  width: 80%;
  margin: auto;
}
.footer__col h4 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.footer__row {
  padding-bottom: 100px;
  padding-top: 50px;
  margin-left: -15px;
  margin-right: -15px;
}
.footer__row li {
  padding-bottom: 10px;
}
.footer__row--last {
  padding-left: 10px;
  padding-bottom: 50px;
}
.footer__contact {
  padding-right: 10px;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.footer a:hover {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 1170px) {
  .footer__content {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 900px) {
  .footer__content {
    width: 80%;
    margin: auto;
  }
}

.container__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn_me {
  padding: 10px;
  border-radius: 10%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
.btn_me--facebook {
  background-color: #0a5ab7;
  color: #ffffff;
}
.btn_me--facebook:hover {
  color: #ffffff;
  background-color: #094e9f;
  text-decoration: none;
}
.btn_me--close {
  background-color: transparent;
  color: #ffffff;
}
.btn_me--news {
  margin-top: 5%;
  background-color: #b1bbdd;
  color: #ffffff;
  border-color: #b1bbdd;
  border-radius: 16px;
  padding: 10px 20px;
  transition: all 0.5s;
}
.btn_me--news:hover {
  color: #ffffff;
  background-color: #344165;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
