html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//====================RESET CSS========================
$white: #ffffff;
$black-menu: #010007;
$black-footer: #2c2c2c;
$blue-title: #344165;
$gray: #6a6683;
$blue-facebook: #0a5ab7;

*, ::after, ::before {
    box-sizing: border-box;
}
img{
    object-fit: cover;
}
.clearfix::after ,.clearfix::before {
    content: "";
    clear: both;
    display: table;
}
.nav {
    z-index:1000;
    top:0;
    position:fixed;
    font-size:16px;
    background-color: $black-menu;
    top:0;
    width:100%;
    // height:96px;
    &__item {
        color:$white;
        float: left;
        margin-left:10%;
        &--logo {
            margin-top:10px;
            margin-bottom:10px;
        }
        &--text {
            float:left;
            // display: inline-block;
            padding-right: 32px;
            padding-left: 32px;
            padding-top:20px;
            padding-bottom:20px;
            color:$white;
            text-transform: uppercase;
            // text-align:center;
            &::after{
                background: none repeat scroll 0 0 transparent;
                content: "";
                left:0;
                display: block;
                height: 2px;
                position: relative;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after{
                width: 100%; 
            }
        }
        &--text:nth-child(5)::after{
            display:none;
        }
        &--link{
            text-decoration: none;
            color:$white;
            &:hover{
                color:$white;
                text-decoration: none;
            }
        }
        
    }
    &__item:nth-child(2) {
        float:right;
    }
    @media (max-width: 1920px){
        &__item {
            margin-left: 15%;
        }
    }
    @media (max-width: 1360px){
        &__item {
            margin-left: 10%;
            &--logo {
                margin-top:10px;
                margin-bottom:0px;
            }
            &--text {
                float:left;
                padding-right: 32px;
                padding-left: 32px;
                padding-top:10px;
                padding-bottom:10px;
                color:$white;
                // text-align:center;
            }
            &--text:nth-child(5){
                padding-bottom:20px;
            }
            
            // &--text::after{
            //     display:none;
            // }
        }
        &__item:nth-child(1){
            width:50%;
        }
        
    }


}

.dropdown__button{
    position:relative;
    display:inline-block;
    .dropdown__content{
        left:0;
        top:100%;
        position:absolute;
        overflow:hidden;
        // margin-top:40px;
        display:none;
        background-color: $black-menu;
        float:none;
        width:100%;
        .dropdown__link{
            display:inline-block;
            // width:100%;
            padding-bottom:10px;
            padding-top:10px;
            // padding-right:45px;
            padding-right: 32px;
            padding-left: 32px;
            &:hover{
                background-color: lighten($black-menu, 10%);
                transition: 0.5s;
            }
            a{
                color: $white;
                text-decoration: none;
                &:hover{
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown__content.open {
        display:block;
    }
    @media (min-width: 320px){
        .dropdown__content{
            text-align: center;
            position:relative;
            z-index: 0;
            overflow:hidden;
            margin-top:10px;
            display:none;
            text-align: start;
            background-color: $black-menu;
            // float:none;
            // width:100%;

            .dropdown__link{
                display:inline-block;
                width:100%;
                // padding-right:45px;
                padding-right: 0;
                padding-left: 0;
                text-decoration: none;
                color:$white;
            }
        }
    }
    @media (min-width: 1360px){
        .dropdown__content{
            display: none;
            text-align: center;
        }
        &:hover{
            .dropdown__content{
                position:absolute;
                display:block;
                margin-top:0;
            }
        }
    }
}
.dropdown__menu {
    display:block;
    .dropdown__menu__button{
        display:none;
        float:right;
        color:$white;
        background-color: transparent;
        margin-right: 32px;
        margin-top:10px;
        margin-bottom:10px;   
    }
    .dropdown__menu__content{
        display:none;
    }
    @media (max-width: 1920px){
        .dropdown__menu__content{
            display:block;
        }
    }
    @media (max-width: 1360px){
        .nav__item--text{
            width:100%;
        }
        .dropdown__menu__content{
            display:none;
        }
        .dropdown__menu__button{
            display:block;
        }
    }
    
}



body{
    width: 100%;
    // display:block;
    background-image: url(../images/first_bg.png); 
    background-size:100%;
    background-position: top;
    background-repeat: no-repeat;
    @media (max-width:1199px){
        background-image: url(../images/bg_small.png);
        background-size: 100% 100vh; 
    }
}
.first {
    &__container{
        height:100vh;

        &--content{
            width:75vw;
            margin:auto;
            
        }
    }
    &__background{
        overflow: hidden;
        position:absolute;
        width:100%; 
        height:250px;
        color:$white;
        margin-bottom:50px;
        .renos5{
            height:100px;
            bottom:0;
            width:100%;
            img{
                position:relative;
                width:100%;
                margin-left:-150px;
                z-index:1;
                transform: scale(2.5);
                padding-top:20px;
            }
            animation-name:slide;
            animation-duration:2s; 
            animation-timing-function:linear; 
            animation-iteration-count:infinite;
        }
        .renos5:nth-child(2){
            animation-direction:reverse;
        }
        @keyframes slide{
            0%{transform: translate(0,0);}
            100% {transform: translate(40%,0);}
        }
        
    }
    &__phone {
        float:left;
        position:relative;
        width:40%; 
        margin-top:100px;
        margin-right:5px;
        height:auto;
        .img__phone{
            position:relative;
            width:90%; 
            z-index:2;
            // height:603px;
        }
        
    }
    &__text{
        z-index: 3;
        font-weight: bold;
        text-transform: uppercase;
        float:right;
        color:$white;
        padding-top:200px;
        text-align:center;
        &--title{
            font-size:48.47px;
        }
        &--body{
            font-size:78.77px;
        }
        &--foot{
            float:left;
            font-size: 20px;
            text-align: center;
            color:$white;
            padding-top:50px;
        }
        .khoangKhac{
            padding-top:60px;
            background-image: url(../images/khoangKhac_bg.png);
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .cuocSong{
            padding-bottom:60px;
            background-image: url(../images/cuocSong_bg.png);
            background-position: bottom;
            background-repeat: no-repeat;

        }
    }

    @media (max-width:1920px){
        &__container{
            &--content{
                width:60vw;
            }
        }
        &__background{
            width:95%;
            top:8vh;
            height:auto;
            .renos5{
                img{
                    width: 100%;
                    margin-left:-200px;
                    transform: scale(2.5);
                }
            }
        }
        &__phone{
            margin-top:200px;
            width:30%;
        }
        &__text{
            padding-top:300px;
        }

    }
    @media (max-width:1448px){
        &__container{
            &--content{
                width:75vw;
                margin:auto;
                padding-bottom:0;
            }
        }
        &__background{
            width:300px; 
            top:10vh;
            .renos5{
                height:90px;
                img{
                    width: 200%;
                    margin-left:-150px;
                    transform: scale(1.2);
                }
            }
        }
        &__phone{
            margin-top:100px;
            width:33%;
            
        }
        &__text{
            padding-top:200px;
        }
    }
    @media (max-width:1199px){
        &__container{
            &--content{
                width:50vw;
                margin:auto;
            }
        }
        &__background{
            width:60%;
            height:auto;
            top:5vh;
            .renos5{
                display:block;
                height:auto;
                margin:20px;
                img{
                    display:block;
                    width: 200%;
                    margin-left:-100px;
                    transform: scale(1.5);
                }
            }
        }
        &__phone{
            width:50vw;
            margin-top:20vh;
            padding-left:100px;
            .img__phone{
                margin:auto;
                width:70%;
            }
        }
        &__text{
            padding-top:0;
            width:50vw;
            text-align: center;
            &--title{
                font-size:38.47px;

            }
            &--body{
                font-size:28.77px;

            }
            &--foot{
                padding-top:0;
                padding-bottom:0;
                font-size:20px;
            }

            .khoangKhac{
                padding-top:0;
                background-image: none;
            }
            .cuocSong{
                padding-bottom:0;
                background-image: none;
            }

        }

    }
    @media (max-width:829px){
        &__container{
            &--content{
                width:80vw;
                margin:auto;
            }
        }
        &__background{
            width:80%;
            height:auto;
            top:3vh;
            .renos5{
                display:block;
                height:auto;
                margin:20px;
                img{
                    padding:0;
                    display:block;
                    width: 200%;
                    margin-left:-100px;
                    transform: scale(1.5);
                }
            }
        }
        &__phone{
            width:100%;
            margin-top:20vh;
            padding-left:10%;
            .img__phone{
                width:70%;
            }
        }
        &__text{
            padding-top:0;
            width:100%;
            text-align: center;
            &--title{
                font-size:28.47px;

            }
            &--body{
                font-size:18.77px;

            }
            &--foot{
                padding-top:0;
                padding-bottom:0;
                font-size:10px;
            }

            .khoangKhac{
                padding-top:0;
                background-image: none;
            }
            .cuocSong{
                padding-bottom:0;
                background-image: none;
            }

        }

    }
}


.second {
    &__container{
        width:100%;
        margin:auto;
        padding-left:15px;
        padding-right:15px;
        text-align: center;
        
    }
    &__title{
        width:100%;
        margin:auto;
        
        &--main{
            margin-bottom: 2%;
            width:1005 ;
            img{
                width:80%;
            }
        }
        &--sub{
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 30px;
            margin-top:30px;
            color:#173855;

        }
        @media (max-width:1120px){
            img{
                width:80vw;
            }
        }
            
    }
    &__note{
        font-size: 14px;
        text-align: center;
        color: #2b3c5e;
        margin-top:30px;
        margin-bottom:30px;

    }
    &__stories{
        margin:auto;
        width:90%;
        padding-left:15px;
        padding-right:15px;
    }
    &__story{
        float:left;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height:auto;
        &--title{
            text-transform: uppercase;
            font-weight: bold;
            font-size:15px;
            margin-bottom:5px;
        }
        &--img{
            overflow: hidden;

            img{
                object-fit: cover;
                width:100%;
                transition: all 0.5s;
            }
            
        }
        &--img:hover{
            img{
                filter: grayscale(100%);
            }
        }
        
    }
}
.swiper-pagination-bullet{
    display:none;
    width:12px !important;
    height:12px !important;
    opacity: 1 !important;
    border: 1px solid #ffffff !important;
    background-color: transparent !important;
    &-active {
        background-color: #ffffff !important;
    }
    @media (max-width:890px){
        display:block;
    }
}
.swiper-container {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
}


.second__stories--des {
    .des{
        &__content{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            justify-self: center;
            position: relative;
            width:80vw;
            margin:auto;
            
        }
        &__img{
            overflow:hidden;
            position: relative;
            width:45%;
            // border:solid;
            display:flex;
            align-items: center;
            padding-bottom:2%;
            img{
                object-fit: cover;
                width:100%;
            }
        }
        &__bg{
            position: absolute;
            height:100%;
            z-index:-1;
            width:100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            // border:solid;
            img{
                object-fit: contain;
                width:100%;
            }
        }
        &__text{

            position:relative;
            color: #173855;
            width:50%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            // border:solid;
            h3 {
                text-transform: uppercase;
                
            }
        }
        &__body{
            font-size: 11.57px;
        }
        &__title{
            font-size: 25px ;
        }
    }
    
    @media (max-width:1120px){
        .des{
            &__content{
                background-size: cover;
                background-repeat:repeat;
    
            }
            &__img{
                display:block;
            }
            &__text{
                width:100%;
            }
        }
        
    }
    @media (max-width:800px){
        .des{
            &__content{
                background-size: cover;
                background-repeat:repeat;
    
            }
            &__img{
                display:none;
            }
            &__text{
                width:100%;
            }
            &__title{
                margin-bottom:2%;
            }
        }
    }

    @media (min-width: 576px){
        .modal-dialog{
            max-width:100%;
        }
    }
    
}

.news__slide{
    margin:auto;
}
.third{
    &__container{
        width:100%;
        margin:auto;
        overflow:hidden;
        margin-bottom:100px;
    }
    &__content{
        margin:auto;
        width:60%;
        padding-left:15px;
        padding-right:15px;
        
    }
    &__bg{
        top:10%;
        position:absolute;
        img{
            height:100vh;
            width:100vw;
            z-index:1;
        }
        &--sm{
            width:100%;
            position:absolute;
            bottom:0;
            img{
                width:10%;
            }
        }
    }
    &__title{
        width:30%;
        img{
            width:100%;
        }
    }
    &__item{
        text-align: start;
        z-index:3;
        overflow:hidden;
        margin-bottom:5%;
        &--thumbnail {
            overflow:hidden;
            width: 100%;
            height:0;
            margin-bottom:10px;
            padding-bottom:55%;
            img{
                object-fit:contain;
                width: 100%;
                transition: all 0.2s;
            }
        }
        &--thumbnail:hover{
            img{
                transform: scale(1.2);
            }
            
        }
        &--title {
            margin-bottom:10px;
            a{
                color:$black-menu;    
                font-weight: bold;
                font-size:17px ;
                transition: all 0.5s ;
                


            }
            
        }
        &--title:hover{
            a{
                color:$blue-title;
                text-decoration: none;
            }
        }
        &--body {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            // text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            margin-top:10px;
            margin-bottom:10px;
            p{
                font-size:14px;
            }
            
        }
    }
    @media (max-width:890px){
        &__content {
            width:95%;
            margin:auto;
        }
        &__bg{
            top:7%;
            position:absolute;
            img{
                height:100vh;
                width:100vw;
                z-index:1;
            }
            &--sm{
                display:none;
            }
        
        }
        
        &__title{
            width:60%;
            img{
                width:100%;
            }
        }
    }
    
}

.fourth{
    &__container{
        width:100%;
        margin:auto;
        padding-left:15px;
        padding-right:15px;
        margin-bottom:100px;
    }
    &__content{
        margin:auto;
        width:60%;
    }
    &__button{
        width:fit-content;
        margin:auto;
        margin-top:20px;
    }
    &__renos--1{
        position:absolute;
        top:30%;
        left:0;  
        width:10%;
        img{
            width:100%;
        }
    }
    &__renos--2{
        position:absolute;
        top:60%;
        right:0;  
        width:10%;
        img{
            width:100%;
        }
    }
    &__news{
        border-top: 1px solid #cccccc;
        padding-top:20px;
        padding-bottom:20px;
        overflow: hidden;
        clear: both;
        &--thumbnail{
            float:left;
            width:35%;
            // height:0;
            // padding-bottom:18%;
            display: block;
            margin-right:10px;
            overflow:hidden;
            img{
                display: block;
                width: 100%;
                transition: all 0.5s;
            }
        }
        &--thumbnail:hover{
            img{
                transform: scale(1.2);
            }
        }
        &--text{
            float:left;
            width:60%;
            height:0;
            padding-bottom:18%;
            text-align: justify;
            line-height: 1.5;
        }
        &--title {
            margin-bottom:10px;
            a{
                color:$black-menu;    
                font-weight: bold;
                font-size:20px ;
                transition: all 0.5s ;

            }
            
        }
        &--title:hover{
            a{
                color:$blue-title;
                text-decoration: none;
            }
        }
        &--body {
            width: 100%;
            margin-top:10px;
            p{
                font-size:14px ;
                
            }
        }
        
    }
    @media (max-width:1330px){
        &__content{
            margin:auto;
            width:80%;
        }
        &__renos--1{
            display: none;
        }
        &__renos--2{
            display: none;
        }
    }
    @media (max-width:890px){
        &__content{
            margin:auto;
            width:95%;
            
        }
        &__renos--1{
            display: none;
        }
        &__renos--2{
            display: none;
        }
        &__news{
            &--thumbnail{
                width:100%;
                height:0;
                padding-bottom:50%;
            }
            &--text{
                width:100%;
                height:auto;
            }
        }
    }
}


.fifth{
    &__container{
        width:100%;
        margin:auto;
        padding-left:15px;
        padding-right:15px;
        position:relative;
        height:auto;
        margin-bottom:100px;
        overflow:hidden;
    }
    &__content{
        width:60%;
        height:auto;
        margin:auto;
        position:relative;
    }
    &__icon{
        text-align: center;
        display:none;
        position:absolute;
        color:$white;
        padding-top:25%;
        width:100%;
        height:inherit;
        z-index:3;
        font-size:100px;
        &--mute{
            text-align: end;
            position:absolute;
            color:$white;
            bottom:5%;
            right:5%;
            width:auto;
            height:inherit;
            z-index:7;
            font-size:25px;
        }
    }
    &__overlay{
        position:absolute;
        z-index:2;
        padding-top:25%;
        padding-bottom:35%;
        width:100%;
        opacity:0.5;
        background-color: black;
        height:inherit;
    }
    &__video{
        width:100%; 
        height:auto;
        margin:auto;
    }
    &__bg1{
        width:20%;
        right:0%;
        position:absolute;
        img{
            width:100%;
        }

    }
    &__bg2{
        width:20%;
        left:0%;
        position:absolute;
        img{
            width:100%;
        }
    }
    @media (max-width:1090px){
        &__content{
            width:90%;
        }
        &__bg1{
            display:none;
        }
        &__bg2{
            display:none;
        }
    }
    @media (max-width:500px){
        &__icon{
            padding-top:20%;
            font-size:40px;
            &--mute{
                font-size:20px;
            }
        }
    }
}



.footer {
    background-color: $black-footer;
    color:$white;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    &__content{
        width:80%;
        margin:auto;
    }
    &__col {
        h4{
            font-size:18px;
            padding-top:10px;
            padding-bottom:25px;
        }
        
    }
    &__row{
        padding-bottom:100px;
        padding-top:50px;
        margin-left:-15px;
        margin-right:-15px;
        li{
            padding-bottom:10px;
        }
        &--last{
            padding-left:10px;
            padding-bottom:50px;

        }
    }
    &__contact{
        padding-right:10px;
    }
    a {
        text-decoration: none;
        color:$white;
        font-size:14px;
        &:hover{
            text-decoration: none;
            color:$white;
        }
    }
    @media (max-width:1170px){
        &__content{
            width:90%;
            margin:auto;
        }
    }
    @media (max-width:900px){
        &__content{
            width:80%;
            margin:auto;
        }
    }
}
.container__center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn_me {
    // border-radius: 10%;
    padding:10px;
    border-radius:10%;
    font-size:16px;
    text-align: center;
    text-decoration: none;
    &--facebook{
        background-color: $blue-facebook;
        color: $white;
        &:hover {
            color: $white;
            background-color: darken($blue-facebook, 5);
            text-decoration: none;
        }
    }
    &--close{
        background-color: transparent;
        color: $white;
    }
    &--news {
        margin-top:5%;
        background-color:#b1bbdd;
        color: $white;
        border-color:#b1bbdd;
        border-radius: 16px;
        padding: 10px 20px;
        transition:all 0.5s;
        &:hover{
            color: $white;
            background-color: $blue-title;
            text-decoration: none;
        }
    }
}